.container {
  display: flex;
  width: 80%;
  height: 95vh;
  margin: auto;
  margin-top: 10px;
}

.left-column {
  flex: 1;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
}

.right-column {
  flex: 1;
  text-align: center;
  background-color: #DCDCDC;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
